html {
  background: #000000;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  background: #000000;
  color: #b8ad7e;
  padding: 50px;
  font-size: 5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
  background: #b8ad7e;
  color: #000000;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  font-size: 2.5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
  font-size: 1em;
  margin-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
